* {
  box-sizing: border-box;
}

body {
  min-width: 300px;
  min-height: 500px;
}
#tabbi {
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: fixed;
  background-color: $color-gray-50;
}

#sidebar {
  width: 65px;
  height: 100%;
  padding: 27px 0;
  display: flex;
  z-index: 1000;
  position: fixed;
  text-align: center;
  flex-direction: column;
  background-color: $brand-color;

  &.open, &.mobile {
    width: 200px;
    text-align: left;
  }

  a {
    color: $color-white;
    opacity: 1 !important;
  }
}

#content {
  width: 100%;
  height: 100%;
  padding-left: 65px;

  &.open {
    padding-left: 200px;
  }
}

.input-box {
  margin: 15px 0;

  input:not(:first-child):not(:last-child),
  select:not(:first-child):not(:last-child),
  button:not(:first-child):not(:last-child) {
    border-radius: 0px;
    border-top: none;
  }
  input:first-child,
  select:first-child,
  button:first-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  input:last-child,
  select:last-child,
  button:last-child {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

button,
.button {
  margin-left: 0;
}

.wrap {
  padding: 15px;
  position: relative;
}

.card {
  margin: 0 0 15px;
  &.accent {
    color: $color-white;
    background: $brand-color;
    h6, a {
      color: $color-white;
    }
  }
}

.full {
  width: 100%;
  display: block;
  text-align: center;
}

.grab {
  cursor: move;
}

.mute {
  color: $color-gray-400;
}

.good {
  color: $color-green-500;
}

.bad {
  color: $color-red-500;
}

.has-hint:not(:hover) .hint {
  opacity: 0;
}

.item:not(:hover) a {
  color: $font-color;
}

@include breakpoint-max($bp-medium) {
  #sidebar:not(.mobile) {
    display: none !important
  }
  #content {
    padding-left: 0 !important;
  }
}

@include breakpoint-min($bp-xlarge) {
  .row .col-xlg-2-5 {
    flex-basis: 20%;
    max-width: 20%;
  }
}